.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
  }
  
  .calculator-wrap {
    background-color: #1d1b1b;
    margin: 30px auto;
    padding: 15px 20px 30px 20px;
    max-width: 640px;
    border-radius: 15px;
  }
  .d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-wrap {
    margin: 5px auto;
  }
  
  .btn-wrap:nth-of-type(2) {
    margin: 15px auto 5px auto;
  }
  
  .calc-result {
    text-align: right;
    padding: 12px 8px 8px 8px;
    font-size: 24px;
    border-radius: 15px;
    background-color: #fff;
  }
  
  .btn {
    outline: none;
    border: 0;
    width: 100%;
    margin: 5px;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .c-btn {
    background-color: #00e1ff;
  }
  .c-btn:hover {
    background-color: #01c8e2;
  }
  
  .operator-btn {
    background-color: #ff3300;
    color: #fff;
  }
  
  .number-btn {
    background-color: #c9c9c9;
  }
  .number-btn:hover {
    background-color: #f2f2f2;
  }
  